node_modules
__pycache__
.idea
.vscode
dist
pythonSrc
temporalTrainingImages
trainingImages
testingData
venv
index.html
accelerationTrainingImages
tsSrc
webpack.config.js
tsconfig.json
models/JSMainModel
models/temporalTestingModel
models/thiccModel
models/tinyModelg
pathData