node_modules
__pycache__
.idea
.vscode
dist
pythonSrc
temporalTrainingImages
trainingImages
testingData
venv
index.html
accelerationTrainingImages
models/JSMainModel
models/temporalTestingModel
models/thiccModel
models/tinyModelg